* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navigation {
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 18px;
  display: flex;
  list-style-type: none;
  padding: 24px 64px;
  justify-content: left;
  align-items: center;
  gap: 32px;
  margin-bottom: 0;
}

.navigation .logo {
  font-size: 24px;
  font-weight: bolder;
  color: #f9faf8;
  flex: 1;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.header {
  display: flex;
  color: #e5e7eb;
  font-size: 18px;
  background-color: #1f2937;
  padding: 24px 64px;
  align-items: center;
}

.header-left {
  flex: 1;
  padding-right: 12px;
}

.header-right {
  flex: 1;
  padding-left: 12px;  
}

img {
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight:800;
  margin-bottom: 0;
}

button {
  color: #e5e7eb;
  background-color: #3883F6;
  font-size: 18px;
  padding:6px;
  min-width: 120px;
  border-radius: 8px;
  border-style: none;
}

h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  padding: 0 64px;
}

.content {
  display: flex;
  gap: 64px;
  justify-content: center;
  padding: 24px 64px;
}

.banana {
  flex-basis: 128px;
  margin-bottom: 64px;
}

.banana img {
  border-style: solid;
  border-radius: 8px;
  border-color: #3883F6;
}

.text {
  flex-wrap: wrap;
  text-align: center;
  font-size: 18px;
  color: slategrey;
}

.text a {
  text-decoration: none;
  color: slategrey;
}

.quote-section {
  background-color: #e5e7eb;
  padding: 24px 64px;
}

.quote {
  font-size: 36px;
  font-weight: 200;
  font-style: italic;
}

.cited {
  text-align: right;
  font-size: 24px;
}